In [1]:
fruits = ['apple','banana','orange','grapes']       # List Unpacking
w,x,y,z=fruits
print(x)
print(y)
print(z)
print(w)

banana
orange
grapes
apple

In [2]:
s = 'awesome'
print('The python is ' + s)

The python is awesome

## Global Variables

In [3]:
x = 'awesome.'      # The value of 'x' can be used inside the function.
def myfunc():
    print('The python is ' + x)
    
myfunc()

The python is awesome.

In [4]:
# Creating global variable and local variable of same element and calling it at different places to understand
x = 'awesome'
def myfunc():
    x = 'cool'
    print('Python is ' + x)    # Inside Scope of the function.
    
myfunc()
print('Python is ' + x)    # Outside scope of the function.

Python is cool
Python is awesome

In [5]:
# To create a Global Variable inside the scope of a function we use 'global' keyword.
def myfunc():
    global x     # Creating global variable inside a function.
    x = 'awesome.'
    
myfunc()
print('Python is ' + x)    # Printing the value of x outside the scope of the function containing global variable.

Python is awesome.

In [6]:
x = range(19)
print(x)

range(0, 19)

In [7]:
print(type(x))

<class 'range'>

## Type Conversion

In [8]:
x = 2
y = 3.4
z = 7j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [9]:
a = float(x) # converting int to float
b = str(y)    # converting float to string
print(type(a))
print(type(b))

<class 'float'>
<class 'str'>

## Random Numbers

In [10]:
import random
print(random.randint(0,89))

8

## Multiline Strings

In [11]:
a = '''Hello all.
My name is Nihar Vishwakrma.        
I am 24 years old.'''       # We use three single or double quotation marks to print multiple lines.

print(a)

Hello all.
My name is Nihar Vishwakrma.
I am 24 years old.

## Strings are simply Arrays

In [12]:
name = 'Hello World.'      # String Slicing
print(name[2:7])

llo W

## Looping through strings.

In [13]:
fruit = 'bananas'
for x in fruit:
    print(x)

b
a
n
a
n
a
s

## Length of the string

In [14]:
vegetables = 'spinach'
print(len(vegetables))

7

## Check String

In [15]:
text = 'This world is a dangerous place.'
print('dangerous' in text)     # 'in' keyword is used to check if given word is present in string or not.

True

In [16]:
text = 'The best things in life are free.'
if 'free' in text:
    print("Yes, 'Free' is present in the above sentence.")
else :
    pass

Yes, 'Free' is present in the above sentence.

## check if not present

To check if a certain phrase or character is NOT present in a string, we can use the keyword 'not in'.

In [17]:
txt = 'Hello my name is nihar.'
print('yes' not in txt)    # This will return 'True' if certain word is not present in txt.

True

## Negative Indexing

In [18]:
a = 'Hello World'
print(a[2:7])

llo W

In [19]:
print(a[-4:-1])

orl

In [20]:
print(a[-1: :-1]) # Here we changed the default value of 'step' which is 1 , to -1 . so  it started reading in reverse order.

dlroW olleH

## String methods

In [21]:
a = 'Hello World'
print(a.upper())
print(a.lower())

HELLO WORLD
hello world

In [22]:
a = '          Hello World                  '
print(a.strip())  # Removes any White Spaces.

Hello World

In [23]:
print(a.replace('H', 'J'))

          Jello World

In [24]:
print(a.split(' '))   # "Split" splits the string when it finds given parameters in desired string(here it was space) and puts the words in list.

['', '', '', '', '', '', '', '', '', '', 'Hello', 'World', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

## Format String

In [25]:
name = 'Nihar Vishwakarma'
age = 24
print(f'My name is {name}. I am {age} years old.')

My name is Nihar Vishwakarma. I am 24 years old.

## Escape Character

In [26]:
txt = "We are the so-called "Vikings" from the north."  # Here use of double quotes is not allowed as u can clearly see.

SyntaxError: invalid syntax (<ipython-input-26-d86bf57ab1a0>, line 1)

In [27]:
# To fix this issue we use escape character '\' just before the internal double quotes

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [28]:
a = 990
b = 897
if a > b :
    print('a is greater than b.')
else:
    print('b is greater than a.')

a is greater than b.

## Change Item value in a list

In [29]:
list1 = ['apple','banana','cherry','grapes']
print(list1)
list1[1] = 'Mango'
print(list1)

['apple', 'banana', 'cherry', 'grapes']
['apple', 'Mango', 'cherry', 'grapes']

## Change a Range of Item Values

In [30]:
list1 = ['apple','banana','cherry','grapes']
list1[2:4] = ['mangoes','guava']
print(list1)

['apple', 'banana', 'mangoes', 'guava']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [31]:
list1 = ['apple','banana','cherry','grapes','watermelon']
list1[2:4] = ['mangoes','guava','chiku']
print(list1)

['apple', 'banana', 'mangoes', 'guava', 'chiku', 'watermelon']

## Insert Items at a specific location

In [32]:
print(list1)

['apple', 'banana', 'mangoes', 'guava', 'chiku', 'watermelon']

In [33]:
list1.insert(2,'berries')

In [34]:
print(list1)

['apple', 'banana', 'berries', 'mangoes', 'guava', 'chiku', 'watermelon']

## Append Item at the end of the list.

In [35]:
list1.append('pineapple')

In [36]:
print(list1)

['apple', 'banana', 'berries', 'mangoes', 'guava', 'chiku', 'watermelon', 'pineapple']

## Extend List

In [37]:
list2 = ['radish','brinjal','potato','tomato']

In [38]:
list1.extend(list2)

In [39]:
print(list1)

['apple', 'banana', 'berries', 'mangoes', 'guava', 'chiku', 'watermelon', 'pineapple', 'radish', 'brinjal', 'potato', 'tomato']

## Remove specific Item

In [40]:
list1.remove('pineapple')
print(list1)

['apple', 'banana', 'berries', 'mangoes', 'guava', 'chiku', 'watermelon', 'radish', 'brinjal', 'potato', 'tomato']

## Remove specified Index Item

In [41]:
list1.pop(2)
print(list1)

['apple', 'banana', 'mangoes', 'guava', 'chiku', 'watermelon', 'radish', 'brinjal', 'potato', 'tomato']

In [42]:
print(list1)

['apple', 'banana', 'mangoes', 'guava', 'chiku', 'watermelon', 'radish', 'brinjal', 'potato', 'tomato']

## Looping Through list

In [43]:
for x in list1:
    print(x)

apple
banana
mangoes
guava
chiku
watermelon
radish
brinjal
potato
tomato

## While loop

In [44]:
thisList = ['apple','orange','guava']
i = 0
while i < len(thisList):
    print(thisList[i])
    i += 1

apple
orange
guava

In [45]:
myname = 'NiharVishwakarma'
i = 0
while i < len(myname):
    print(myname[i])
    i +=1

N
i
h
a
r
V
i
s
h
w
a
k
a
r
m
a

## Looping Using List Comprehension

In [46]:
myname = ['apple','ball','cat','dog']
[print(x) for x in myname]

apple
ball
cat
dog

[None, None, None, None]

## List Comprehensions

In [47]:
list1 = ['apple','bat','cat','water','stars','duck','milk','red']
emptylist = []
for x in list1 :
    if 'a' in x:
        emptylist.append(x)

print(emptylist)

['apple', 'bat', 'cat', 'water', 'stars']

In [48]:
# Using list comprehensions , the above problem can be solved in less code.
newlist = [x for x in list1 if 'a' in x]
print(newlist)

['apple', 'bat', 'cat', 'water', 'stars']

In [49]:
newlist = [x for x in range(20)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [50]:
newlist = [x for x in range(100) if x%3==2]   # This code returns all those values that give 2 as remainders.
print(newlist)

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98]

In [51]:
alphabets = 'abcdefghijkl'
newlist = [x.upper() for x in alphabets]
print(newlist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

In [52]:
print(newlist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

In [53]:
# set all values of 'newlist' to 'Hello'
newlist1 = ['hello' for x in newlist]

In [54]:
print(newlist1)

['hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello']

In [55]:
fruits = ['apple','banana','watermelon','kiwi'] 
# replacing 'banana' with 'orange' using list comprehensions
newlist = [x if x != 'banana' else 'orange' for x in fruits]
print(newlist)

['apple', 'orange', 'watermelon', 'kiwi']

## Sorting a list

In [56]:
fruits = ['kiwi','guava','watermelon', 'banana']
fruits.sort()
print(fruits)

['banana', 'guava', 'kiwi', 'watermelon']

In [57]:
randomnumb = [12,56,89,41,1]
randomnumb.sort()
print(randomnumb)

[1, 12, 41, 56, 89]

## Sort Decending (reverse = True)

In [58]:
print(fruits)

['banana', 'guava', 'kiwi', 'watermelon']

In [59]:
fruits.sort(reverse=True)

In [60]:
print(fruits)

['watermelon', 'kiwi', 'guava', 'banana']

In [61]:
randomnumb.sort(reverse=True)
print(randomnumb)

[89, 56, 41, 12, 1]

In [62]:
# We can also customize sort function by using other function in it's key parameter.
# Sort the list based on how close the number is to 50:
nums = [12,45,65,62,85]
def myfunc(n):
    return abs(n-50)

nums.sort(key=myfunc)
print(nums)

[45, 62, 65, 85, 12]

In [63]:
# sort() is case sensitive therefore it ends up sorting capital letters before small letters 
fruits = ['Kiwi', 'Guava','banana','grapes']
fruits.sort()
print(fruits)

['Guava', 'Kiwi', 'banana', 'grapes']

## we can use built-in functions as key functions when sorting a list

In [64]:
fruits = ['Kiwi', 'Guava','banana','grapes']
# if we want our sort function to ignore case sensitivity we can do as follows:
fruits.sort(key=str.lower)     
print(fruits)

['banana', 'grapes', 'Guava', 'Kiwi']

In [65]:
# and if we want to reverse the list without sorting alphabets
fruits = ['banana','apple','guava','blackberry']
fruits.reverse()
print(fruits)

['blackberry', 'guava', 'apple', 'banana']

## Copy List

In [67]:
onelist = ['test','rescue','interfere','light','woozy','fetch']
newlist = onelist.copy()
print(newlist)

['test', 'rescue', 'interfere', 'light', 'woozy', 'fetch']

In [68]:
# another way to do is by using in-built 'list()' function.
somelist = ['test','rescue','interfere','light','woozy','fetch']
alist = list(somelist)
print(alist)

['test', 'rescue', 'interfere', 'light', 'woozy', 'fetch']

## Three ways to join lists.

In [71]:
listone = ['carrot','tomato','potato']
listtwo = [45,23,12]

# Method 1

listthree = listone + listtwo
print(listthree)

['carrot', 'tomato', 'potato', 45, 23, 12]

In [70]:
# Method 2

for x in listtwo:
    listone.append(x)
print(listone)

['carrot', 'tomato', 'potato', 45, 23, 12]

In [72]:
# Method 3
listone.extend(listtwo)
print(listone)

['carrot', 'tomato', 'potato', 45, 23, 12]